#homeBtn img {
    width: 90px;
    height: 90px;
}

#homeBtn {
    padding: 0px;
}

.topnav {
    background-color: rgb(64, 64, 64);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    text-align: center;
    min-height: 90px;
}

.topnav a {
    color: white;
    display: inline-block;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 50px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.topnav a:hover {
    background-color: darkgray;
    color: white;
}

.topnav a.active {
    background-color: rgb(240, 61, 56);
    color: white;
}

.topnav .icon {
    display: none;
    padding: 22px;
}


/*responsiveness navigation*/

@media screen and (max-width: 850px) {
    .topnav {
        background-color: rgb(64, 64, 64);
        display: block;
    }
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
        background-color: rgb(240, 61, 56);
    }
}

@media screen and (max-width: 850px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
}